#img{

    align-content: center;
    margin-left: 460px;
    height: 80px; 
    width: 300px;

    }


.link{

     padding:35px;
     float: left;
     

     } 
     
#log{

    float: right;
    

    }     
     
   