.design{

     border: 1px solid black;
     margin-top: 20px;
     margin-right: 30px;
     margin-left: 68px;
     width: 40%;
     height:450px;
     float: left;
     background-color: aqua;

     }

  